
body {
    margin: 0;
    padding: 0;
    font-family: 'Blinker', sans-serif;
    font-family: 'Roboto', sans-serif;

}
p {
    margin:0px;

}
/* section */

.title1{
    color: var(--german-uds-primary-blue-500, #000064);
    /* Copy md/Source Sans Pro Bold */
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin:0px;
    padding:0px
}

.title2{
color: var(--german-uds-primary-blue-500, #000064);
/* Headline sm/Blinker Light */
text-align: left;
font-family: Blinker;
font-size: 32px;
font-style: normal;
font-weight: 300;
padding:0px;
margin:0px;

}

.section1 {
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    background: #deebff;
}


.section1 {
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    background: #deebff;
}

.section2 {
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* background: #DEEBFF; */
}

.section1 img {
    margin-top: 40px;
}

.section2 img {
        position: absolute;
        margin-top:40px;
        left: 0;
}


.paragraph {
 color: var(--german-uds-primary-light-blue-900, #344864);
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
text-align: justify;
}

.paragraph2 {
 color: var(--german-uds-primary-light-blue-900, #344864);
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
text-align: justify;
}

@media only screen and (min-width: 768px) { 

.section1 img {
    margin-top: -110px;
    margin-bottom: -220px;  
}

.section2 {
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* background: #DEEBFF; */
}

.paragraph2 {
 color: var(--german-uds-primary-light-blue-900, #344864);
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
text-align: justify;
}


.mt {
    margin-top: 180px;
}
.ta-r{
    text-align:right;
}

.section2 img {
    margin-top: -100px;
}




.paragraph {
 color: var(--german-uds-primary-light-blue-900, #344864);
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
max-width: 50%;
text-align: justify;
float:left;
}

.paragraph2 {
 color: var(--german-uds-primary-light-blue-900, #344864);
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
max-width: 50%;
text-align: justify;
float:right;
}





}


/* section end */
#header {
    color: var(--base-colours-white, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    background: url('../img/background-image.png') center/cover no-repeat;
    height: 90%;
    position: relative;
    color: white;
}

#mission,
#strategy,
#about,
#partners,
#study,
#contact {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#header-text {

    margin-top: 120px;
    font-weight: bold;
}

#sub-header-text {
    margin-top:10px;
    color: var(--base-colours-white, #FFF);
font-family: Blinker;
font-size: 40px;
font-style: normal;
font-weight: 200;
line-height: 100%; /* 40px */
}

#small-text {
    margin-top:20px;
    color: var(--base-colours-white, #FFF);
font-family: Source Sans Pro;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */

}
.content{

    flex:1;
}

.orange-button {
    
font-weight:bold;
border:none;
padding: 16px 48px;
width:100%;
margin-bottom:10px;
justify-content: center;
align-items: center;
align-self: stretch;
    border-radius: 0px 0px 12px 0px;
background: var(--german-uds-primary-orange-500, #FF8B00);

}

.white-button {
    
font-weight:bold;
background:transparent;
padding: 16px 48px;
justify-content: center;
align-items: center;
align-self: stretch;
border-radius: 0px 0px 8px 0px;
border: 3px solid var(--base-colours-white, #FFF);
color: 3px solid var(--base-colours-white, #FFF);
width:100%;
}


#video-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#logo-section {
    margin: 10px;
}

.logo-slider {
    display: flex;
    justify-content: space-between;
}

.logo-item {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.container {
    margin:30px;
    display:flex;
    flex-direction: column;
    min-height: 50vh;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
}

/* Hide the links inside the navigation border:none;menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: whi;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu
.topnav a.icon {
    background: white; 
    display: block;
    position: absolute;
    right: 0;
    top: 0;
} */

/* Add a grey background color on mouse-over */

#buttons {
    position: absolute;
    bottom:0;
    margin-bottom:40px;
    margin-right: 30px;
}